In [ ]:
import pandas as pd
import numpy as np

In [43]:
data = pd.read_csv('taxi.csv')
data.head()

,Priceperweek,Population,Monthlyincome,Averageparkingpermonth,Numberofweeklyriders
0,15,1800000,5800,50,192000
1,15,1790000,6200,50,190400
2,15,1780000,6400,60,191200
3,25,1778000,6500,60,177600
4,25,1750000,6550,60,176800

In [44]:
x = data.drop('Numberofweeklyriders',axis=1)
y= data['Numberofweeklyriders']

In [45]:
from sklearn.model_selection import train_test_split
X_train,x_test,y_train,y_test =train_test_split(x,y,test_size=0.25,random_state=0)

In [46]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train,y_train)
print ("Training score",model.score(X_train,y_train))

Training score 0.9285840543940118

In [ ]:
import pickle
pickle.dump(model,open('model.pkl','wb'))
model1 = pickle.load(open('model.pkl','rb'))
print(round(model1.predict([[63, 1610000, 16200, 200]])[0]))

###